<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
        <h1>Rango says here is the about page.</h1>
        <h2>This tutorial has been put together by</h2>
        <h3>    Adele Trijonyte! </h3>
        </div>

        <div>
            <a href="/rango/">Index</a><br />
            <img src="/static/images/rango.jpg"
                alt="Picture of Rango" /> <!-- New line -->
            <img src="/media/cat.jpg"
                alt="Picture of a Cat" /> <!-- New line -->
         </div>

    </body>
</html>