<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
        <h1>Rango says here is the about page.</h1>
        <h2>This tutorial has been put together by Trigger</h2>
        </div>
		
        <div>
            <a href="/rango/">Index</a><br />
            <img src="/static/images/rango.jpg"
                alt="Picture of Rango" /> 
            <img src="/media/cat.jpg"
                alt="Picture of a Cat" /> 
        </div>
		
        <div>
			<p> visits: {{ visits }}</p>
		</div>
    </body>
	
</html>